
<!-- Toolbar -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="main">
    <h1 class="heading">Inventory Management Tool</h1>
    <div class="btn_div">
      <button class="addItem" (click) = "openModal()">+Add Item</button>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Item Price </th>
            <th>Inits(No(s)/KG/Liter)</th>
            <th>Mfg.Company</th>
            <th>Mfg.Date</th>
            <th>Expiry Date</th>
            <th>Type</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Tax</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of tableValues; let i = index" [id]="i">
            <td>{{ list.itemName }}</td>
            <td>{{ list.quantity }}</td>
            <td>{{ list.unit }}</td>
            <td>{{ list.companyName }}</td>
            <td>{{ list.mfgDate }}</td>
            <td>{{ list.expDate }}</td>
            <td>{{ list.type }}</td>
            <td>{{ list.price }}</td>
            <td>{{ list.discount }}</td>
            <td>{{  list.taxValue }}</td>
            <td style="text-align: center;">
              <button [id]="i"  class="icon_button_edit" (click) = "updateItem($event)">
                <i [id]="i" class="fa fa-pencil fa-lg" aria-hidden="true"></i>
              </button>
              <button [id]="i" class="icon_button_delete" (click) = "deleteItem($event)">
                <i [id]="i" class="fa fa-trash fa-lg" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div #modalWrapper class="modalWrapper">
        <div class="modal">
          <div class="modal-body">
            <div class="header">
              <h1 class="modal_heading">Add Item</h1>
              <div class="close_btn_div" (click)="closeModal()">
                <button class="close_btn">x</button>
              </div>
            </div>
            <div class="modal-body-layout">
              <div>
                <label>Item Name:</label>
                <input #itemName type="text" placeholder="Item Name">
              </div>
              <div>
                <label for="">Quantity:</label>
                <input #quantity type="text" placeholder="No.of items">
              </div>
              <div>
                <label for="">Unit:</label>
                <select name="" #unit>
                  <option value="">Select option</option>
                  <option value="No(s)">No(s)</option>
                  <option value="KG">KG</option>
                  <option value="Liter">Liter</option>
                </select>
              </div>
              <div>
                <label for="">Manfacturing Company:</label>
                <input #companyName type="text" placeholder="Enter Company Name">
              </div>
              <div>
                <label for="">Mfg Date:</label>
                <input #mfgDate type="date" placeholder="Mfg Date">
              </div>
              <div>
                <label for="">Expiry Date:</label>
                <input #expDate type="date" placeholder="IExpiry Date">
              </div>
              <div>
                <label for="">Type:</label>
                <select name="" #type placeholder="Select Type" (change)="onChange()">
                  <option value="">Select Type</option>
                  <option value="Edible">Edible</option>
                  <option value="Not Edible">Not Edible</option>
                </select>
              </div>
              <div>
                <label for="">Price:</label>
                <input #price type="text" placeholder="Enter Your Price">
              </div>
              <div>
                <label for="">Discount:</label>
                <input #discount type="text" placeholder="Enter Discount">
              </div>
              <div>
                <label for="">Tax:</label>
                <label for="">{{ tax }}</label>
              </div>
            </div>
            <div class="footer">
              <button class="btn_cancel" (click) = "closeModal()">Cancel</button>
              <button class="btn_save" (click) = "saveItem()">{{ btnName }}</button>
            </div>
          </div>
        </div>
        <div class="modal-background"></div>
      </div>
    </div>
  </div>
</body>
</html>

<router-outlet></router-outlet>
